<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="error">
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg + "." %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>